  {% extends 'base.html' %}
  {% block content %}
        <div>
            <h1>포트폴리오 디테일 페이지</h1>
            <h2>제목: {{portfolio.title}}</h2>
            <p>프로필 사진: {{portfolio.profile}}</p>
            <p>약력: {{portfolio.career}}</p>
            <p>편집자: {{portfolio.editor}}</p>
            <p>영상: {{portfolio.production}}</p>
            <p>내용: {{portfolio.content}}</p>
            <p>평점: {{portfolio.grade}}</p>
            <p>가격: {{portfolio.price}}</p>
            <a href = "{% url 'main' %}">메인</a>

            {% if user.user_type == 'editor' %}
            <a href = "{% url 'edit' portfolio.id %}">수정</a>
            <a href = "{% url 'delete' portfolio.id %}">삭제</a>
            {% endif %}
        </div> 
  {% endblock %}
