{% extends 'base.html' %}
{% block content %}
  <div>
      <h1>포트폴리오 리스트 페이지</h1>
      {% if user.user_type == 'editor' %}
      <h2><a href = "{% url 'new' %}">포트폴리오 생성하기</a></h2>
      {% endif %}

      {% for portfolio in portfolio %}
        <div>
          <h2><a href = "{% url 'detail' portfolio.id %}">{{portfolio.title}}</a></h2>
          <p>{{portfolio.profile}}</p>
          <p>{{portfolio.editor}}</p>
          <p>{{portfolio.content}}</p>
          <p>{{portfolio.production}}</p>
        </div>
      {% endfor %}

      <div class = "pagination">
        {% if portfolio.has_previous %}
          <a href="?page=1"> </a>
          <a href="?page={{ portfolio.previous_page_number }}"> < </a>
        {% endif %}

        {% for num in portfolio.paginator.page_range %}
          {% if portfolio.number == num %}
            <strong>{{ num }}</strong>
        {% elif num > portfolio.number|add:'-2' and num < portfolio.number|add:'2' %}
            {{ num }}
          {% endif %}
        {% endfor %}
        
        {% if portfolio.has_next %}
          <a href="?page={{ portfolio.next_page_number }}"> > </a>
          <a href="?page={{ portfolio.paginator.num_pages }}"> >> </a>
        {% endif %}
      </div>
  </div>
{% endblock %}
